<div class="about_nav">
    <a href="">Story</a>
    <a href="">Brand</a>
    <a href="">Press Kit</a>
    <a href="">FAQ</a>
    <a href="" class="facebook"></a>
    <a href="" class="twitter"></a>
    <a href="" class="instagram"></a>
</div>