<div class="locations_nav">
    <%=  link_to 'San Francisco', {controller:'pages', action:'sf'}, class: cp('/food/sf') %>
    <%=  link_to 'Palo Alto', {controller:'pages', action: 'pa'}, class: cp('/food/pa') %>
</div>