<div class="about">
<div class="hero dashed-btm"></div>

    <div class="container">
        <div class="col-md-12">
        <h2>The Sushirrito Story</h2>

        <p>Sushirrito is the original sushi burrito concept. We’re revolutionizing sushi culture with made-to-order,
            hand-held sushi burritos in delicious Asian and Latin flavor combinations.</p>

        <p>Feeling constrained by pricey, time-consuming sit-down sushi restaurants and pre-made options lacking quality
            and originality, co-founder Peter Yen sought a fresh way to roll. Collaborating with Ty Mahler, former
            executive chef of Roy’s Hawaiian Fusion in San Francisco, the duo launched Sushirrito in January 2011 – long
            before hybrid foods became a trend.</p>

        <p>From our unique flavors to our highly-efficient service to our conscientious sourcing, Sushirrito is truly
            changing the way we eat sushi.</p>
        </div>

    </div>
    <div class="container facts">
        <div class="col-md-12">
         <h2>The Sushirrito Brand </h2>
        </div>
        <div class="col-md-4">
            <h4>Founded</h4>
            <p>2011</p>
            <h4>Headquarters</h4>
            <p>San Francisco, CA</p>
            <h4>Website</h4>
            <p>www.sushirrito.com</p>
            <h4>Social Media</h4>
            <p>Facebook, Twitter: @sushirrito</p>
            <h4>About Us</h4>
            <p>We offer made-to-order, hand-held sushi burritos stuffed with savory Asian and Latin-infused flavors.</p>
        </div>
        <div class="col-md-4">
            <h4>Unique Sushi Burritos</h4>
            <p>8</p>
            <h4>Total Restaurants</h4>
            <p>4</p>
            <h4>Leadership</h4>
            <p>
                Peter Yen <br/>
                Co-founder, Chief Executive Roller
            </p>
            <p>
                Ty Mahler <br/>
                Co-founder, Executive Chef
            </p>
        </div>
        <div class="col-md-4">
            <h4>Did you Know?</h4>
            <p>The idea for Sushirrito arose when Yen couldn’t find a quick, quality sushi lunch spot while working in
                SF.</p>
            <p>Our most popular menu item, Geisha’s Kiss, was profiled as one of Buzzfeed’s 21 Most Magical
                Burritos.</p>
            <p>Our fish is delivered and cut daily. We serve only sustainably-caught seafood meeting all FDA
                standards.</p>
        </div>
    </div>
</div>