<div class="about">
<div class="hero dashed-btm"></div>
    <div class="container-fluid facts">
        <div class="col-sm-12">
            <h2>About</h2>
        </div>
       <div class="col-sm-12">
           Sushirrito is the original sushi burrito restaurant concept.  We're revolutionizing sushi culture with made-to-order, hand-held sushi burritos in delicious Asian and Latin flavor combinations.
       </div>
    </div>
    <div class="container-fluid">
        <div class="col-sm-12">
            <h2>The Sushirrito Story</h2>
            <p>Feeling constrained by pricey, time-consuming sit-down sushi restaurants and pre-made options lacking quality and originality, Founder Peter Yen was determined to find a better way to serve sushi and saw the opportunity to combine 2 of the Bay Area's favorite foods: sushi and burritos.  Peter created the Sushirrito brand name and trademarked it in 2008. </p>

            <p>In 2010, Peter fortuitously met Ty Mahler, the former executive chef of Roy's Hawaiian Fusion of San Francisco. Ty embraced the Sushirrito vision and brought his culinary talents and operational skills to develop the new restaurant concept. After many, many months of collaboration and R&D (ahem, eating!), Peter and Ty launched Sushirrito in 2011 in downtown San Francisco, serving made-to-order, hand held sushi burritos in a fast casual format. </p>

            <p>Since then, Peter and Ty have expanded Sushirrito to 3 locations in downtown San Francisco and 1 in Palo Alto, have created several unique menus, and are constantly innovating and testing new products and ideas.  </p>

            <p>Food, like language, music, and culture, is constantly evolving.  To deem something as merely traditional is to shortchange continuous human creativity and innovation. -- Sushirrito, May 2012</p>

        </div>

    </div>

</div>