<div class="container-fluid food">
    <div class="col-sm-3 hand-1"></div>
    <div class="col-sm-9 col-xs-12">
        <h2>The Sushi Burritos</h2>
        <p>
            We infuse multi-cultural flavors into every sushi burrito.  By blending the premium flavors and healthiness of sushi with the form factor and convenience of burritos, serving fresh, convenient, large, hand-held sushi burritos.
        </p>
        <p>
            We use seafood that has been responsibly sourced. We will also use fresh alternatives when appropriate in order to preserve those populations that are threatened.
        </p>
        <p>
            From our unique flavors to our highly efficient service to our conscientious sourcing, Sushirrito® is truly changing the way we eat sushi.
        </p>
        <%=  link_to 'View San Francisco Menu', {controller:'pages', action:'sf'}, class: 'btn btn-default' %>
        <%=  link_to 'View Palo Alto Menu', {controller:'pages', action:'pa'}, class: 'btn btn-default'  %>
    </div>
</div>
