<div class="container-fluid food">
    <div class="col-sm-3 hand-1"></div>
    <div class="col-sm-9 col-xs-12">
        <h2>The Sushi Burritos</h2>
        <p>
            We infuse multi-cultural flavors into every sushi burrito.  By blending the premium flavors and healthiness of sushi with the form factor and convenience of burritos, we bring to you fresh, convenient, large, hand-held sushi burritos.
        </p>
        <p>
            We use seafood that has been responsibly sourced. We will also use fresh alternatives when appropriate in order to preserve those populations that are threatened. Learn more...
        </p>
        <p>
            From our unique flavors to our highly efficient service to our conscientious sourcing, Sushirrito® is truly changing the way we eat sushi.
        </p>
        <button class="btn btn-default"><%=  link_to 'View San Francisco Menu', {controller:'pages', action:'sf'} %></button>
        <button class="btn btn-default"><%=  link_to 'View Palo Alto Menu', {controller:'pages', action:'pa'} %></button>
    </div>
</div>

<div class="container-fluid food-sub">
    <div class="col-sm-12 text-center">
        <p>
            Our food is best if consumed immediately after purchase.
            Prepared in a kitchen where fish, shellfish, sesame, soy, wheat, gluten, milk, eggs, peanuts, and tree nuts are used.
        </p>
        <p>
            * Contains raw fish.
        </p>
        <p>
            ** Please no modifications or substitutions
        </p>
    </div>
</div>