<div class="hero clearfix">
    <div class="container">
        <div class="col-md-7">
            <h1><span>Sushirrito<sup>&reg;</sup></span> - The original Sushi Burrito concept!</h1>
            <p>Revolutionizing sushi culture with made-to-order, hand-held Sushi Burritos in delicious Asian and Latin flavor combinations.</p>
        </div>
        <div class="col-md-5 hand-1"></div>
    </div>
</div>

<div class="white clearfix orders">
    <div class="container">
        <div class="col-md-7">
            <%= image_tag("home_food.jpg") %>
        </div>
        <div class="col-md-5">
            <h3>Our Food</h3>
            <p>We strive to challenge the status quo of sushi restaurants through creativity and innovation of flavors, form, and sourcing.</p>
            <button class="btn btn-default"><a href="">Learn More</a></button>
        </div>
        <div class="col-md-12"></div>
        <div class="col-md-5">
            <h3>Catering</h3>
            <p>Make your next meeting or party a hit. Introducing fast, fresh, filling and eco-friendly sushi...a fresh way to roll!</p>
            <button class="btn btn-default"><a href="">Order Now</a></button>
        </div>
        <div class="col-md-7">
            <%= image_tag("home_catering.jpg") %>
        </div>
    </div>
</div>

<div class="texture clearfix">
    <div class="container">
        <div class="col-md-12 col-centered text-center">
            <h3>The Sushi Burrito</h3>
            <p>On January 18th, 2011, Sushirrito<sup>&reg;</sup> launch the world's first sushi burrito restaurant concept. We have spent, and will continue
            to spend, countless hours creating and testing sushi burritos unique to the Sushirrito brand. fusion sustainable seafood responsibly
            sourced fast casual.</p>
            <p>Hand-held portable made-to-order asian latin fresh ingredients high quality ingredients local when possible?
            efficient/fast Multi-unit (Not a chain or franchise) Small business San Francisco founded Original Restaurant large
            uncut food first efficient revolution</p>
        </div>
    </div>
</div>

<div class="white clearfix text-center directions">
    <div class="container">
        <h2>Sushirrito<sup>&reg;</sup> Locations - Come roll with us!</h2>
        <div class="col-md-3">
            <h4>Fidi</h4>
            <p>475 Sansome Street (entrance on Clay Street) San Francisco, CA 94111</p>
            <p>415-393-9905</p>
            <div class="hours">
                <p><span>Monday thru Friday </span>11-3</p>
            </div>
        </div>
        <div class="col-md-3">
            <h4>Soma</h4>
            <p>59 New Montgomery Street San Francisco, CA 94105</p>
            <p>415-495-7655</p>
            <div class="hours">
                <p><span>Monday thru Friday </span>11-3</p>
            </div>
        </div>
        <div class="col-md-3">
            <h4>Union Square/Fidi</h4>
            <p>226 Kearny Street San Francisco, CA 94108</p>
            <p>415-544-9869</p>
            <div class="hours">
                <p><span>Monday thur Thursday </span>11-4</p>
                <p><span>Friday </span>11-7</p>
                <p><span>Saturday </span>12-4</p>
            </div>
        </div>
        <div class="col-md-3">
            <h4>Palo Alto</h4>
            <p>448 University Avenue Palo Alto, CA 94301</p>
            <div class="hours">
                <h3>Opening Winter 2014</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="direction-ctas clearfix">
            <div class="col-md-3"><button class="btn btn-default"><a href="">Get Directions</a></button></div>
            <div class="col-md-3"><button class="btn btn-default"><a href="">Get Directions</a></button></div>
            <div class="col-md-3"><button class="btn btn-default"><a href="">Get Directions</a></button></div>
            <div class="col-md-3"><button class="btn btn-default"><a href="">Get Directions</a></button></div>
        </div>
    </div>
</div>