<div class="menu">
    <div class="yellow">
        <div class="container">
            <%= render "shared/locations_nav" %>
        </div>
    </div>
    <div class="section container">
        <h1>The Sushi Burritos</h1>
        <div class="col-md-4">
            <img src="/assets/satori_roll.png" alt=""/>
            <h4>Satori*</h4>
            <p>Kampachi Sashimi (Kona White Fish), Cucumber, Pickled Red Onion, Sweet Corn, Red Tobiko, Avocado, Wasabi Mayo</p>
            <p>13.00</p>
        </div>
        <div class="col-md-4">
            <img src="/assets/geishas_kiss_roll.png" alt=""/>
            <h4>Geisha’s Kiss*</h4>
            <p>Yellowfin Tuna (Hand-Line Caught), Tamago, Piquillo Peppers, Yuzu Tobiko, Lotus Chips, Namasu Cucumber, Butter Lettuce, Avocado, Sesame White Soya</p>
            <p>12.00</p>
        </div>
        <div class="col-md-4">
            <img src="/assets/salmon_samba_roll.png" alt=""/>
            <h4>Salmon Samba</h4>
            <p>Oven-Baked Agave-Soy King Salmon (British Columbia), Tempura Asparagus, Namasu Cucumber, Butter Lettuce, Avocado, Pepitas, Wasabi Dust, Teri-Mayonesa</p>
            <p>10.00</p>
        </div>
        <div class="col-md-4">
            <img src="/assets/sumo_crunch_roll.png" alt=""/>
            <h4>Sumo Crunch</h4>
            <p>Shrimp Tempura, Surimi Crab, Shaved Cabbage, Cucumber, Avocado, Red Tempura Flakes, Sriracha Aioli</p>
            <p>10.50</p>
        </div>
        <div class="col-md-4">
            <img src="/assets/caballero_roll.png" alt=""/>
            <h4>Caballero</h4>
            <p>Sake-Asada Beef, Napa Cabbage, Red Radish, Julienne Carrots, Jicama, Red Peppers, Blue Corn Chips, Avocado, Cilantro, Kimichurri Sauce</p>
            <p>11.00</p>
        </div>
        <div class="col-md-4">
            <img src="/assets/porkivore_roll.png" alt=""/>
            <h4>Porkivore</h4>
            <p>Oven-Roasted Pork Belly, Shaved Cabbage, Red Radish, Avocado, Cilantro, Mustard Seed Mayo</p>
            <p>9.50</p>
        </div>
        <div class="col-md-4">
            <img src="/assets/mayan_dragon_roll.png" alt=""/>
            <h4>Mayan Dragon</h4>
            <p>Crispy Chicken Katsu, Purple Peruvian Potatoes, Julienne Carrots, Pickled Red Cabbage, Avocado, Shaved Jalapenos, Japanese Curry</p>
            <p>9.00</p>
        </div>
        <div class="col-md-4">
            <img src="/assets/buddha_belly_roll.png" alt=""/>
            <h4>Buddha Belly</h4>
            <p>Spicy Japanese Eggplant, Portobello Mushroom Fries, Julienne Carrots, Kale, Avocado, Roasted Garlic Tofu Sauce</p>
            <p>9.00</p>
        </div>
    </div>
    <div class="section container">
        <h1>Other**</h1>
        <div class="col-md-4">
            <img src="/assets/bonsai_salad.png" alt=""/>
            <h4>Bonsai Salad*</h4>
            <p>Bonsai Salad*</p>
            <p>10.00</p>
        </div>
        <div class="col-md-4">
            <img src="/assets/lava_nachos.png" alt=""/>
            <h4>Lava Nachos* (Limited Supply)</h4>
            <p>Lava Nachos* (Limited Supply)</p>
            <p>8.00</p>
        </div>
    </div>
    <div class="container">
        <p>Our food is best if consumed immediately after purchase.</p>
        <p>Prepared in a kitchen where fish, shellfish, sesame, soy, wheat, gluten, milk, eggs, peanuts, and tree nuts
            are used.</p>
        <p>* Contains raw fish.</p>
        <p>** Please no modifications or substitutions.</p>
    </div>
</div>