<h2>Sushirrito Catering Request</h2>
<table>
    <% @catering_request.each do |name, value|  %>
        <tr>
            <td><b><%= name == 'honeypot' ? 'For Office Use' : name.gsub(/[_]/,"\s") %></b></td>
            <td><%= value %></td>
        </tr>
    <% end %>
</table>