<table>
    <tr>
        <td><b>Name:</b></td>
        <td><%= @fields['name'] %></td>
    </tr>
    <tr>
        <td><b>Email:</b></td>
        <td><%= @fields['email'] %></td>
    </tr>
    <tr>
        <td><b>Phone:</b></td>
        <td><%= @fields['phone'] %></td>
    </tr>
    <tr>
        <td><b>Message:</b></td>
        <td><%= @fields['message'] %></td>
    </tr>
</table>