<h2>Sushirrito Job Application</h2>
<table>
    <% @job_application.each do |name, value| %>
        <tr>
            <td><b><%= name == 'honeypot' ? 'For Office Use' : name.gsub(/[_]/,"\s") %></b></td>
            <td><%= value %></td>
        </tr>
    <% end %>
</table>