
body {
  @media (max-width: $screen-sm) {
    background:$black !important;
    .hero{
      display:none;
    }
    h2{
      font-size:24px;
      margin-top:0px;
    }
    .dark {
      background: none;
      display:none;
      height: 360px;
    }
    .logo {
      padding: 20px 0;
      img {
        width: 80%;
      }
    }
    .nav {
      div {
        margin-bottom: 20px;
      }
      img {
        display: block;
      }
    }
   .home{
     display:none;
   }

    .directions {
      > div {
        margin-bottom: 60px;
      }
      .col-sm-3 {
        height: auto;
        button {
          position: relative;
          bottom: auto;
          width: 100%;
          left: auto;
          margin: 20px 0;
        }
      }
    }

    .food {
      text-align:center;
      margin:20px 0;
      .hand-1{
        display:none;
      }

    }
    .locations .directions{
      text-align:center;
      h4, p{
        font-size:24px;
      }
      button.locations{
        display:none;
      }
    }
    .catering, .jobs{
      margin-top:20px;
      padding-bottom:0px;
      button.btn-info, button.btn-info:focus, button.btn-info:active, button.btn-default, button.btn-default:focus, button.btn-default:active{
        margin:0 0 20px 0;
        padding:10px 50px;
      }
      .pickup{
        button.btn-info, button.btn-default {
          width:100%;
        }
      }
      .radios{
        padding:0px;
        label{
          font-size:14px;
        }
      }
      .btn-default.center-block{
        padding:10px;
        width:100%;
      }
    }
    .menu{
      margin-bottom:40px;
      .col-sm-4{
        min-height:100%;
        p:last-child{
          position:relative;
          width: 100%;
          bottom:auto;
        }
      }
    }

    .about{
      h2{
        margin:20px 0;
      }
      text-align:center;
      .hero{
        display:none;
      }
    }
    .contact_container {

      position: absolute;
      width: 100%;
      z-index: 999;
      top: 90px;
      left: 0px;
      button{
        width:100%;
      }
      h2{
        margin:20px 0;
      }
    }
  }
}