@import 'pages';
.catering {
  padding-bottom:60px;
  .yellow{
    padding-bottom:40px;
  }
  p {
    margin:0 0 20px 0;
    color:$white;
    &.header {
      margin:20px 0 10px;
      b {
        font-family: 'Days One', sans-serif;
        font-weight:500;
      }
    }
  }
  button.btn-info{
    margin-left:20px;
    padding:10px 60px;
    font-size:22px;
    &:first-child{
      margin-left:0px;
    }
  }
  .pickup{
    button.btn-info {
      padding:20px 60px;
      span {
        font-size:18px;
        color:$black;
        display:block;
      }
    }
  }


  input[name="date"]{
    margin:20px 0;
  }

  .quantities {
    .col-xs-6{
      padding:0px;
      height:60px;
    }
    p{
      display:inline-block;
      margin:0;
      &.small {
        margin:0px;
      }
    }
    input{
      display:inline-block;
      width:40px;
    }
  }
}