@import "variables";
.catering, .jobs {
  padding-bottom:60px;
  i.catering{
    height: 40px;
    display: inline-block;
    vertical-align: middle;
  }
  .yellow{
    padding-bottom:40px;
    clear:left;
  }
  p {
    margin:0 auto 20px;
    color:$white;
    max-width: 83.3333%;
    &.header {
      margin:20px auto 10px;
      b {
        font-family: 'Days One', sans-serif;
        font-weight:500;
      }
    }
  }
  .radios {
    label {
      display: inline-block;
      margin-left: 10px;
      font-size: 16px;
      color: white;
    }
    > div{
      margin-bottom:10px;
    }
  }

  textarea.form-control{
    height:500px;
    width:90%;
    margin:0 auto 20px;
  }

  button.btn-info, button.btn-info:focus, button.btn-info:active, button.btn-default, button.btn-default:focus, button.btn-default:active{
    margin:0 0 20px 20px;
    padding:10px 60px;
    font-size:22px;
    &:first-of-type{
      margin-left:0px;
    }
    &.center-block{
      margin: 0 auto;
    }
  }
  .pickup{
    button.btn-info, button.btn-default{
      padding:10px 60px;
      span {
        font-size:18px;
        color:$black;
        display:block;
      }
    }
    button.btn-default span{
      color:$white;
    }
  }
  .delivery, .pickup{
    display:none;
  }


  input[name="date"]{
    margin:20px 0;
  }

  .quantities {
    .col-xs-6{
      padding:0px;
      height:60px;
    }
    p{
      display:inline-block;
      margin:0;
      line-height: 1;
    }
    input{
      display:inline-block;
      width:40px;
    }
  }
}