.food {
  margin:40px auto;
  padding-bottom:40px;
  border-bottom:1px solid #464646;
  .btn {
    margin-top:20px;
    &:first-of-type {
      margin-right:20px;
    }
  }
}


.food-sub{
  margin-bottom:40px;
}