@import "variables";
.menu {
  text-align: center;
  p{
    font-size:14px;
  }
  .section {
    padding-bottom:20px;
    border-bottom:1px solid grey;
    margin-bottom:20px;
  }
  .container-fluid:last-child{
    margin-bottom:20px;
  }
  .col-sm-4{
    min-height: 450px;
    margin-bottom:50px;
    h4{
      color:$orange;
      font-size:20px;
      margin-top:20px;
    }
    img{
      width:90%;
      max-width:300px;
    }
    p{
      font-size: 16px;
      &:last-child{
        color:$orange;
        font-size: 18px;
        position: absolute;
        bottom: 10px;
        width: 90%;

      }
    }
  }
}