// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap';
@import url(http://fonts.googleapis.com/css?family=Questrial|Days+One);

$orange: #DE5D31;
$yellow: #F8AF4B;
$brown: #744A25;
$green:#AEB341;
$white: #FFFFFF;
$black: #000000;
$red: #D6664A;

div.yellow {
  background-color:$yellow;
}
body {
  background:$black;
}
.container-fluid{
  background:$white;
}

.center-block {
  @include clearfix();
  float: none;
}
h1,h2,h3 {
  font-family: 'Days One', sans-serif;
}

h1, h2{
   color: $orange;
 }

h1,h2,h3,h4,h5,p,span,a,label{
  &.orange{
    color:$orange;
  }
  &.yellow{
    color:$yellow;
  }
  &.white{
    color:$white;
  }
  &.black{
    color:$black;
  }
  &.brown{
    color:$brown;
  }
}

h3{
  color:$yellow;
}

label{
  color:$white;
}

p, span, a, h4,button {
  font-family: 'Questrial', sans-serif;
  color:$brown;
}

p {
  font-size: 20px;
}

a{
  &:hover{
    color:$white;
    text-decoration: none;
  }
  &.current {
    color:$brown !important;
  }
}

hr {
  @include clearfix();
  border-top: 1px solid $black;
  margin:40px 0;
}

.logo {
  padding: 60px 0;
}

.dark {
  background: rgba(0, 0, 0, .2);
  padding: 10px 0;
}

.nav {
  white-space: nowrap;
  a{
    font-size: 18px;
  }
}

img {
  width:100%;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.texture {
  background: {
    image:url(image-path('/assets/texture.jpg'));
    size: cover;
  }
  p,a,span {
    color:$white;
  }
  h3{
    margin-top:40px;
  }
  div p:last-child{
    margin-bottom: 40px;
  }
}

.hero {
  background: {
    image:url(image-path('/assets/hero_bg.jpg'));
    size: cover;
  }
  margin-bottom: 40px;
  border-bottom:1px dashed $yellow;
  h1 {
    color:$brown;
    font-size:42px;
    margin-top:50px;
    span {
      color: $orange;
      font-family: 'Days One', sans-serif;
    }
  }
  p{
    font-size:26px;
  }
}

.about_nav_container{
  display:none;
}

.hand-2, .hand-1 {
  height: 330px;
  background: {
    size: cover;
  }
}

.hand-1 {
  height: 400px;
  background:{
    image:url(image-path('/assets/sumo_hand1.png'));
  }
}

.hand-2 {
  background:{
    image:url(image-path('/assets/sumo_hand2.png'));
  }
}

.orders {
  p {
    width:85%;
    margin-bottom: 20px;
  }
  .col-md-12 {
    margin-bottom:20px;
  }
  margin-bottom:40px;
}

.directions {
  @extend .text-center;
  h2{
    margin-top:40px;
  }
  h4 {
    color: $orange;
  }
  p {
    font-size:16px;
    span {
      color:$orange;
      font-family: 'Questrial', sans-serif;
    }
  }
  h3 {
    color:$orange;
    font-family: 'Questrial', sans-serif;
  }
  button {
    width:100%;
    bottom:0px;
    left:0px;
    position:relative;
    margin-bottom: 20px;
  }
  > div {
    margin-bottom: 40px;
  }
  .col-md-9 {
    display:none;
  }
  .hours {
    p {
      margin:0;
    }
  }
  .direction-ctas button{
    margin-bottom:40px;
  }
}


button.btn-default, button.btn-default:focus, button.btn-default:active {
  background-color:$green;
  border-radius:0;
  padding:5px 30px;
  color:$white;
  border-color:#ACA9B2;
  font-size:18px;
  outline:0;
  a{
    color:$white;
    font-size:18px;
    outline:0;
  }
  &:hover {
    background-color:$green;
  }
}

button.btn-info, button.btn-info:focus, button.btn-info:active {
  background-color:$white;
  border-radius:3px;
  padding:5px 30px;
  color:$red;
  border-color:#ACA9B2;
  font-size:18px;
  outline:0;
  a{
    color:$red;
    font-size:18px;
    outline:0;
    &:hover {
      color:$red;
    }
  }
  &:hover {
    color:$red;
    background-color:$white;
    border-color:#ACA9B2;
  }
}


.contact_container {
  padding-bottom:40px;
  background-color:$yellow;
  display: none;
  h2{
    color:$black;
  }
  p {
    color: $white;
  }
  textarea {
    min-height: 185px;
  }
  button {
    float:right;
  }
}

footer {
  height:80px;
  padding-top:30px;
  background:$black;
  span{
    color:$white;
  }
  .about_nav {
    text-align: right;
    background-color:$black;
    padding:0px;
  }
}

.about_nav, .locations_nav {
  text-align: center;
  background-color:$yellow;
  padding:10px 0;
  a {
    font-size:16px;
    margin-left:30px;
    display: inline-block;
    vertical-align: middle;
    color:$white;
    &:first-child{
      margin:0px;
    }
    &.instagram, &.twitter, &.facebook {
      height:20px;
      width:23px;
      margin-left:10px;
      background:{
        repeat:no-repeat;
        position:center 0;
      }
    }

    &.instagram {
      background:{
        image:url(image-path('/assets/instagram.png'));
      }
    }

    &.twitter {
      background:{
        image:url(image-path('/assets/twitter.png'));
      }
    }
    &.facebook {
      width:10px;
      margin-left:30px;
      background:{
        image:url(image-path('/assets/facebook.png'));
      }
    }
  }
}


